@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Simple App to create Players, Teams, Games, and Stats for a game.</p>
</div>
